<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Sửa sách</title>
</head>
<body>

<h1>Sửa sách</h1>

<form action="#" th:action="@{/books/edit}" method="post" th:object="${book}">

    <input type="hidden" th:field="*{id}" />

    <label>Tiêu đề:</label>
    <input type="text" th:field="*{title}" required />
    <br><br>

    <label>Tác giả:</label>
    <input type="text" th:field="*{author}" required />
    <br><br>

    <button type="submit">Cập nhật</button>
</form>

</body>
</html>
